// vertical gap between rows of images
$gallery-row-gap: 70px !default;

// horizontal gap between columns of images. has no effect in css masonry
$gallery-column-gap: $gallery-row-gap !default;

// width of the gallery
$gallery-width: 85vw !default;

// width of the gallery on mobile
$gallery-width-mobile: 100vw !default;

// breakpoint for mobile styles
$gallery-mobile-breakpoint: 768px !default;

// padding around the entire gallery container
$gallery-padding: 50px !default;

// padding around the entire gallery container on mobile
$gallery-padding-mobile: $gallery-padding !default;

// border radius of gallery images
$gallery-image-border-radius: 0px !default;

// how to align images when image_fit is "contain" and gallery_style is "fixed-height"
// accepts any value that justify-content accepts
// ex: flex-start, center, flex-end, space-between, space-around, space-evenly
$gallery-justify-content: flex-start !default;

// scale factor applied to an image on hover (set to 1 to disable).
$gallery-hover-scale: 1 !default;

// opacity applied to images
$gallery-image-opacity: 1 !default;
$gallery-hover-image-opacity: 0.9 !default;

// filters applied to images (e.g., grayscale(20%), brightness(110%), contrast(110%), etc.)
$gallery-image-filter: none !default;
$gallery-hover-image-filter: contrast(110%) !default;

// duration + easing of the hover transition
$gallery-hover-transition-duration: 200ms !default;
$gallery-hover-transition-easing: ease !default;
