<div
  class="gallery"
  id="gallery"
  data-gallery-style="{{ gallery_style }}"
  data-image-fit="{{ image_fit }}"
  {{ if hover_captions }}data-hover-captions="true"{{ /if }}
>
  {{ for image of images }}
    {{ set meta = image |> extractMeta }}
    {{ set name = image.filename |> removeExt }}
    <figure
      class="gallery-item"
      {{ if image.date }}data-year="{{ image.date |> year }}"{{ /if }}
      {{ for [key, values] of Object.entries(meta) }}
        data-{{ key }}="{{ values.join(" ") }}"
      {{ /for }}
    >
      {{ set lb_fallback = lightbox_formats.at(-1).format }}
      {{ set thumb_fallback = thumbnail_formats.at(-1).format }}
      <div class="gallery-item-inner">
        <a
          href="/assets/images/gallery/{{ if lightbox_dimension > 0 }}{{ name }}-lightbox.{{ lb_fallback }}{{ else }}{{ image.filename }}{{ /if }}"
          target="_blank"
          class="photoswipe"
          pswp-size
          {{
            if image_fit == "cover" && !gallery_style.includes("masonry")
          }}data-cropped="true"{{ /if }}
          {{ if image.caption }}aria-describedby="caption-{{ name }}"{{ /if }}
          {{ if lightbox_dimension > 0 }}data-pswp-srcset="{{
              for i, f of lightbox_formats
            }}{{ if i > 0 }},
              {{ /if }}{{
                `/assets/images/gallery/${name}-lightbox.${f.format}`
                |> url
              }}{{ /for }}"{{ /if }}
        >
          <picture>
            {{ for f of thumbnail_formats.slice(0, -1) }}
              <source
                srcset="/assets/images/gallery/{{ name }}-thumbnail.{{ f.format }} 1x, /assets/images/gallery/{{ name }}-thumbnail@2x.{{ f.format }} 2x"
                type="image/{{ f.format }}"
              >
            {{ /for }}
            <img
              src="/assets/images/gallery/{{ name }}-thumbnail.{{ thumb_fallback }}"
              srcset="/assets/images/gallery/{{ name }}-thumbnail@2x.{{ thumb_fallback }} 2x"
              {{ if image.alt }}alt="{{ image.alt }}"{{ /if }}
              loading="lazy"
              decoding="async"
              image-size
            >
          </picture>
        </a>
        {{ if image.caption }}
          <figcaption id="caption-{{ name }}">
            {{ image.caption |> md(true) }}
          </figcaption>
        {{ /if }}
      </div>
    </figure>
  {{ /for }}
</div>
